@config "./tailwind.config.js";
/* @tailwind base; */
/* @tailwind components; */
@tailwind utilities;

@font-face {
  font-family: "Young Serif";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/young-serif/YoungSerif-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/outfit/Outfit-VariableFont_wght.ttf") format("truetype");
}

body {
  @apply text-base font-outfit;
}
